.card {
  padding: 40px 15px 77px;
  background-color: #ffffff;
}

.card__wrapper {
  margin: 0 auto;
  max-width: 1170px;
  display: flex;
}

.card__image-wrapper {
  margin-right: 70px;
}

.card__content {
  padding-top: 41px;
  width: 370px;
}

.card__info {
  .list-styles (0, 0, none);

  margin-top: 38px;
  margin-bottom: 40px;
}

.card__text {
  width: 275px;
}

.card__option {
  margin-bottom: 29px;
  display: flex;
}

.card__option-list {
  .list-styles (0, 0, none);

  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.card__option-item {
  margin-left: 40px;
}

.card__price {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
