.care__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1170px;
  margin: 0 auto;
}

.care__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: -228px;
  max-width: 670px;
  max-height: 583px;
  padding: 92px 227px 104px 100px;

  background: #f4f1ed;
}
