.catalog-history {
  padding: 55px 15px 123px;
}

.catalog-history__wrapper {
  margin: 0 auto;
  max-width: 1170px;
}

.catalog-history h2 {
  margin: 0;
  margin-bottom: 50px;

  text-align: center;
  font: normal 500 32px/125% "Raleway", "Arial", sans-serif;
  color: #122947;
}

.catalog-history__list {
  .list-styles (0, 0, none);

  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-top: 26px;
}

.catalog-history__item {
  position: relative;

  width: 270px;
  margin-right: 30px;
  margin-bottom: 30px;

  &:nth-child(4n) {
    margin-right: 0;
  }
}
