.contacts__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1170px;
  margin: 0 auto;
}

.contacts__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 670px;
  min-width: 670px;
  margin-right: -170px;
  padding: 92px 185px 100px 100px;

  background: #f4f1ed;
  box-sizing: border-box;
}

.contact__list {
  .list-styles (0, 0, none);
}
