.contacts__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1170px;
  margin: 0 auto;
}

.contacts__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 670px;
  min-width: 670px;
  margin-right: -170px;
  padding: 92px 185px 100px 100px;

  background: #f4f1ed;
}

.contacts__title {
  margin: 0 0 25px;

  font-weight: 500;
  font-size: 32px;
  line-height: 1.3;
}

.contact__list {
  .list-styles (0, 0, none);

  margin-bottom: 5px;
}

.contact__item {
  margin-bottom: 22px;
}

.contact__item h3 {
  margin: 0;
  margin-bottom: 8px;

  font: normal 500 18px/145% "Mplus", "Arial", sans-serif;
  color: #122947;
}

.contact__item p {
  margin: 0;

  font: normal normal 18px/145% "Mplus", "Arial", sans-serif;
  color: #122947;
}

.contacts__link {
  font: normal 18px/1.45 "Mplus", "Arial", sans-serif;
  white-space: nowrap;
  color: #122947;

  cursor: pointer;
  outline: 0;

  transition: 0.2s;

  &:active,
  &:focus,
  &:hover {
    opacity: 0.5;
    transition: 0.2s;
  }
}

.contacts__social {
  margin: 0;
}

.contacts__map-wrapper {
  width: 100%;
}

.map {
  height: 422px;

  background: url("../img/map@1x.jpg") no-repeat 0 0/cover #ffffff;
}

@media (max-width: 1199px) {
  .contacts {
    position: relative;
  }

  .contacts__container {
    margin: 0 45px;

    background-color: #f4f1ed;
  }

  .contacts__content {
    margin: 0;
    padding: 52px 15px 60px 60px;
    width: calc(50% + 15px);
    min-width: 0;

    background-color: initial;
  }

  .contacts__map-wrapper {
    position: absolute;
    top: 50%;
    left: calc(50% + 15px);

    width: calc(50% - 15px);

    transform: translateY(-50%);
  }
}

@media (max-width: 767px) {
  .contacts {
    position: static;
  }

  .contacts__container {
    flex-direction: column;
    margin: 0;
    padding: 0 15px;

    background-color: initial;
  }

  .contacts__content {
    width: 100%;
    padding: 53px 30px;

    background-color: #f4f1ed;
  }

  .contacts__title {
    margin-bottom: 22px;

    font-size: 28px;
    line-height: 1.25;
  }

  .contacts__list {
    margin-bottom: 0;
  }

  .contacts__item {
    margin-bottom: 19px;
  }

  .contacts__item h3 {
    margin-bottom: 4px;

    font-size: 16px;
  }

  .contacts__item p {
    font-size: 16px;
  }

  .contacts__link {
    margin-bottom: 18px;

    font-size: 16px;
  }

  .contacts__social {
    padding: 5px 0;
  }

  .contacts__map-wrapper {
    position: static;

    width: 100%;

    transform: none;
  }
}
