.follow__container {
  display: flex;
  align-items: center;
  max-width: 1170px;
  margin: 0 auto;
}

.follow__images-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 699px;
  min-width: 699px;
  max-width: 699px;

  background: #f1efeb;
}

.follow__image {
  height: 233px;
  width: 233px;
}

.follow__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 71px;

  height: 188px;
}

.follow__title {
  margin: 0 0 15px;

  font-weight: 500;
  font-size: 32px;
  line-height: 1.3;
}

.follow__text {
  max-width: 381px;
  margin: 0;

  font: normal 18px/1.45 "Mplus", "Arial", sans-serif;

  &:not(:last-of-type) {
    margin-bottom: 1em;
  }
}

.follow__link {
  margin-top: 33px;
  padding: 12px 33px;
}
