.follow__container {
  display: flex;
  align-items: center;
  max-width: 1170px;
  margin: 0 auto;
}

.follow__images-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 699px;
  min-width: 699px;
  max-width: 699px;

  background: #f1efeb;
}

.follow__image {
  height: 233px;
  width: 233px;
}

.follow__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 71px;

  height: 188px;
}

.follow__title {
  margin: 0 0 15px;

  font-weight: 500;
  font-size: 32px;
  line-height: 1.3;
}

.follow__text {
  max-width: 381px;
  margin: 0;

  font: normal 18px/1.45 "Mplus", "Arial", sans-serif;

  &:not(:last-of-type) {
    margin-bottom: 1em;
  }
}

.follow__link {
  margin-top: 33px;
  padding: 12px 33px;
}

@media (max-width: 1199px) {
  .follow {
    padding: 0 45px;
  }

  .follow__container {
    align-items: flex-start;
    justify-content: space-between;
  }

  .follow__images-wrapper {
    width: 354px;
    min-width: 354px;
    max-width: 354px;
  }

  .follow__images-wrapper > picture:nth-child(3n+1) {
    display: none;
  }

  .follow__image {
    width: 177px;
    height: 177px;
  }

  .follow__content {
    margin-left: 48px;
    padding-top: 49px;
  }
}

@media (max-width: 767px) {
  .follow {
    padding: 0 15px;
  }

  .follow__container {
    flex-direction: column-reverse;
  }

  .follow__images-wrapper {
    width: 100%;
    min-width: 0;
    max-width: none;
  }

  .follow__images-wrapper > picture {
    width: 50%;
  }

  .follow__image {
    width: 100%;
    height: auto;
  }

  .follow__content {
    align-items: center;
    margin: -8px auto 74px;
    padding: 0;
  }

  .follow__title {
    margin-bottom: 12px;
    font-size: 28px;
    line-height: 1.25;

    text-align: center;
  }

  .follow__text {
    padding: 0 5px;

    font-size: 16px;
    line-height: 1.4;
    text-align: center;
  }

  .follow__link {
    margin-top: 24px;
    padding: 12px 27px;
  }
}
