.history {
  display: flex;
  min-height: 433px;

  background: url("../img/history@1x.jpg") no-repeat 0 0/cover #f1efeb;
}

.history__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 765px;
  max-width: 1170px;
  margin: 0 auto;
  padding-top: 112px;
}

.history__description {
  max-width: 765px;
  margin: 0;

  font-weight: 500;
  font-size: 32px;
  line-height: 1.25;
  text-align: center;
}

.history__link {
  margin-top: 40px;
}
