.navigation {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}

.navigation__list {
  .list-styles (0, 0, none);

  display: flex;
}

.navigation__item:not(:first-child) {
  margin-left: 35px;
}
