.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
}

.pagination__numbers {
  width: 100%;
  padding-left: 85px;
}

.pagination__number {
  margin-right: 70px;
}

.pagination__arrows {
  display: flex;
  justify-content: space-between;
}

.pagination__arrow:first-child {
  margin-right: 32px;
}
