.product-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 312px;
  width: 230px;
}

.product-card__image {
  height: 312px;
  width: 230px;
}
