.promo {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 400px;
}

.promo__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 43%;
  padding: 32px 0 19px 19px;
  height: 320px;
}
