.promo {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 400px;

  background: url("../../img/spring@1x.jpg") no-repeat 0 0/cover #f1efeb;
}

.promo__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 43%;
  padding: 32px 0 19px 19px;
  height: 320px;
}

.promo__title {
  width: 300px;
  margin: 0 0 18px;

  font-weight: 500;
  font-size: 32px;
  line-height: 1.25;
}

.promo__description {
  width: 300px;
  margin: 0;

  font: normal 18px/1.45 "Mplus", "Arial", sans-serif;
}

.promo__link {
  margin: 29px 0 0;
}
