@font-face {
  font-family: "Mplus";
  src: local("Mplus 1p"), local("Mplus1p-Regular"), url("../fonts/m-plus-1p.woff2") format("woff2"), url("../fonts/m-plus-1p.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mplus";
  src: local("Mplus 1p Medium"), local("Mplus1p-Medium"), url("../fonts/m-plus-1p-500.woff2") format("woff2"), url("../fonts/m-plus-1p-500.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/raleway.woff2") format("woff2"), url("../fonts/raleway.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/raleway-500.woff2") format("woff2"), url("../fonts/raleway-500.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
*,
::after,
::before {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-family: "Raleway", "Arial", sans-serif;
  color: #122947;
}
body {
  margin: 0;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
}
picture {
  display: flex;
}
.main {
  flex-grow: 1;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.wrapper {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1200px;
}
.button {
  font: 500 16px/1 "Mplus", "Arial", sans-serif;
  display: block;
  padding: 12px 27px;
  color: #122947;
  border: 1px solid #b3bac1;
  border-radius: 2px;
  cursor: pointer;
  outline: 0;
  transition: 0.2s;
}
.button.button:active,
.button.button:focus,
.button.button:hover {
  background: #ffffff;
  transition: 0.2s;
  opacity: 0.5;
}
.layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 320px;
  min-height: 100vh;
}
.filter {
  padding-top: 18px;
}
.filter__inner {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, minmax(50px, -webkit-max-content));
  grid-template-columns: repeat(3, minmax(50px, max-content));
  grid-column-gap: 82px;
  justify-content: center;
  grid-template-areas: "face body skin" "face body buttons";
  margin-left: 10px;
}
.filter__block {
  position: relative;
  margin: 0;
  padding: 0;
  border: 0;
}
.filter__block_face-care {
  grid-area: face;
}
.filter__block_body-care {
  grid-area: body;
}
.filter__block_skin-type {
  grid-area: skin;
}
.filter__list {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-top: 2px;
}
.filter__item {
  margin-bottom: 12px;
}
.filter__checkbox-label {
  position: relative;
  padding-left: 22px;
  font: normal normal 16px/140% "Mplus", "Arial", sans-serif;
  color: #9a9da0;
  cursor: pointer;
}
.filter__checkbox-label::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 0;
  width: 14px;
  height: 14px;
  border: 1px solid #cdcdcd;
  border-radius: 50%;
}
:checked + .filter__checkbox-label {
  color: #122947;
}
:checked + .filter__checkbox-label::after {
  content: "";
  position: absolute;
  left: 2px;
  top: 6px;
  width: 10px;
  height: 10px;
  background: #122947;
  border: 1px solid #122947;
  border-radius: 50%;
}
.filter__buttons {
  grid-area: buttons;
}
.filter__button {
  display: inline-block;
  min-width: 141px;
  margin: 0;
  padding: 7px 25px 10px;
  font: normal 500 16px/140% "Mplus", "Arial", sans-serif;
  vertical-align: top;
  text-align: center;
  text-decoration: none;
  color: #122947;
  border: 1px solid #b3bac1;
  border-radius: 2px;
  box-sizing: border-box;
  background: 0 0;
  cursor: pointer;
  outline: 0;
}
.filter__button:focus,
.filter__button:hover {
  border: 1px solid #122947;
}
.filter__button:active {
  border: 1px solid #b3bac1;
}
.filter__button:not(:last-child) {
  margin-right: 20px;
}
.filter__block-head {
  position: relative;
  margin-bottom: 18px;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 55;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-width: 320px;
  margin: 0 auto;
  padding: 40px 98px;
  background-color: #ffffff;
  border-bottom: 1px solid #dbdce0;
  transition: 0.3s;
}
.header_transparent {
  background: 0 0;
  border-color: transparent;
}
.header_colored {
  background: #ffffff;
  border-color: #dbdce0;
}
.header__menu-toggle {
  background: url("../img/burger-icon.svg") no-repeat left center / 24px 12px transparent;
  display: none;
  padding: 0;
  border: none;
  transition: 0.2s;
  cursor: pointer;
  outline: 0;
}
.header__menu-toggle:active,
.header__menu-toggle:focus,
.header__menu-toggle:hover {
  opacity: 0.5;
  transition: 0.2s;
}
.header__menu-toggle_active {
  background: url("../../img/cross-icon.svg") no-repeat 0 0px 18px;
}
.header__navigation {
  flex-grow: 1;
}
.header__actions {
  margin: 0 0 0 51px;
  padding: 0;
}
.navigation {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}
.navigation__overlay {
  display: none;
  background: 0 0;
  border: none;
  cursor: pointer;
}
.navigation__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
.navigation__item:not(:first-child) {
  margin-left: 35px;
}
.navigation__link {
  display: inline-block;
  font: normal 16px/1 "Mplus", "Arial", sans-serif;
  color: #122947;
  outline: 0;
  transition: 0.2s;
}
.navigation__link:active,
.navigation__link:focus,
.navigation__link:hover {
  opacity: 0.5;
  transition: 0.2s;
}
.navigation__contacts {
  margin: 0;
}
.user-actions {
  display: flex;
  list-style: none;
}
.user-actions__item:not(:first-child) {
  margin-left: 30px;
}
.user-actions__link {
  display: flex;
  outline: 0;
  transition: 0.2s;
}
.user-actions__link:active,
.user-actions__link:focus,
.user-actions__link:hover {
  opacity: 0.5;
  transition: 0.2s;
}
.main {
  flex-grow: 1;
  margin-top: 100px;
}
.main_no-top-spaced {
  margin-top: 0;
}
.main__block {
  margin-bottom: 140px;
}
.about {
  background: url("../img/main@1x.jpg") no-repeat 0 0 / cover #ffffff;
  padding: 131px 0 64px;
}
.about__container {
  position: relative;
  display: flex;
  justify-content: center;
  max-width: 1170px;
  margin: 0 auto;
}
.about__item {
  width: 330px;
  min-width: 330px;
}
.about__item:nth-child(2) {
  order: -1;
}
.about__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 330px;
  min-width: 330px;
  margin: 0 20px;
  color: #122947;
}
.about__title {
  margin: 47px 0 10px;
  font: 500 58px/68px "Raleway", "Arial", sans-serif;
  text-align: center;
  text-transform: uppercase;
}
.about__description {
  margin: 0;
  font: normal 18px/1.45 "Mplus", "Arial", sans-serif;
  text-align: center;
}
.about__button {
  margin: 33px auto 0;
}
.promo-card {
  outline: 0;
}
.promo-card:active > .promo-card__text,
.promo-card:focus > .promo-card__text,
.promo-card:hover > .promo-card__text {
  opacity: 0.5;
  transition: 0.2s;
}
.promo-card__image {
  display: block;
  width: 330px;
  height: 422px;
  background: #ede7e1;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.promo-card__text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0 0;
  font: 500 16px/1.4 "Mplus", "Arial", sans-serif;
  color: #122947;
  transition: 0.2s;
}
.promo-card__icon {
  height: 12px;
  width: 26px;
}
.best-sellers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 98px;
  overflow: hidden;
}
.best-sellers__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 215px;
  height: 250px;
  margin: 0 85px 44px 0;
}
.best-sellers__title {
  margin-top: 20px;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1.3;
}
.best-sellers__description {
  width: 215px;
  margin: 0;
  font: normal 18px/1.45 "Mplus", "Arial", sans-serif;
}
.best-sellers__link {
  margin-top: 31px;
  padding: 12px 23px;
}
.best-sellers__link_mobile {
  display: none;
}
.product-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 230px;
  height: 312px;
}
.product-card__image {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  background: #d1c7bd;
  transform: translate(-50%, -50%);
}
.product-card__title {
  z-index: 1;
  margin: 0 10px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.45;
  text-align: center;
}
.product-card__description {
  z-index: 1;
  margin-top: 0;
  margin-bottom: 9px;
  font: normal 13px/1.45 "Mplus", "Arial", sans-serif;
  text-align: center;
  color: #9a9da0;
}
.product-card__link {
  position: relative;
  z-index: 1;
  margin: 0 10px 25px;
  padding-bottom: 3px;
  font: normal 13px/1.45 "Mplus", "Arial", sans-serif;
  text-align: center;
  color: #122947;
  outline: 0;
  cursor: pointer;
  transition: 0.2s;
}
.product-card__link:active,
.product-card__link:focus,
.product-card__link:hover {
  opacity: 0.5;
  transition: 0.2s;
}
.product-card__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #122947;
}
.slider {
  width: 100%;
  margin: 0;
}
.slider__item {
  width: 230px;
  height: 312px;
}
.slider__button-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 25px 98px 0 0;
}
.slider__button {
  position: static;
  z-index: 0;
  display: flex;
  width: 26px;
  height: 12px;
  margin: 0;
  cursor: pointer;
  outline: 0;
  transition: 0.2s;
}
.slider__button:active,
.slider__button:focus,
.slider__button:hover {
  opacity: 0.5;
  transition: 0.2s;
}
.slider__button:not(:first-child) {
  margin-left: 32px;
}
.slider-icon {
  height: 12px;
  width: 26px;
}
.promo {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 400px;
  background: url("../../img/spring@1x.jpg") no-repeat 0 0 / cover #f1efeb;
}
.promo__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 43%;
  padding: 32px 0 19px 19px;
  height: 320px;
}
.promo__title {
  width: 300px;
  margin: 0 0 18px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1.25;
}
.promo__description {
  width: 300px;
  margin: 0;
  font: normal 18px/1.45 "Mplus", "Arial", sans-serif;
}
.promo__link {
  margin: 29px 0 0;
}
.care__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1170px;
  margin: 0 auto;
}
.care__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: -228px;
  max-width: 670px;
  max-height: 583px;
  padding: 92px 227px 104px 100px;
  background: #f4f1ed;
}
.care__title {
  margin: 0 0 27px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1.3;
}
.care__descritpion {
  max-width: 331px;
  margin: 0;
  font: normal 18px/1.45 "Mplus", "Arial", sans-serif;
}
.care__descritpion:not(:last-of-type) {
  margin-bottom: 10px;
}
.care__link {
  margin-top: 38px;
}
.care__image {
  flex-shrink: 0;
  width: 670px;
  height: 451px;
  margin-left: 58px;
}
.care__image_tablet {
  display: none;
}
.care__image_mobile {
  display: none;
}
.history {
  display: flex;
  min-height: 433px;
  background: url("../img/history@1x.jpg") no-repeat 0 0 / cover #f1efeb;
}
.history__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 765px;
  max-width: 1170px;
  margin: 0 auto;
  padding-top: 112px;
}
.history__description {
  max-width: 765px;
  margin: 0;
  font-weight: 500;
  font-size: 32px;
  line-height: 1.25;
  text-align: center;
}
.history__link {
  margin-top: 40px;
}
.follow__container {
  display: flex;
  align-items: center;
  max-width: 1170px;
  margin: 0 auto;
}
.follow__images-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 699px;
  min-width: 699px;
  max-width: 699px;
  background: #f1efeb;
}
.follow__image {
  height: 233px;
  width: 233px;
}
.follow__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 71px;
  height: 188px;
}
.follow__title {
  margin: 0 0 15px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1.3;
}
.follow__text {
  max-width: 381px;
  margin: 0;
  font: normal 18px/1.45 "Mplus", "Arial", sans-serif;
}
.follow__text:not(:last-of-type) {
  margin-bottom: 1em;
}
.follow__link {
  margin-top: 33px;
  padding: 12px 33px;
}
.contacts__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1170px;
  margin: 0 auto;
}
.contacts__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 670px;
  min-width: 670px;
  margin-right: -170px;
  padding: 92px 185px 100px 100px;
  background: #f4f1ed;
}
.contacts__title {
  margin: 0 0 25px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1.3;
}
.contact__list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 5px;
}
.contact__item {
  margin-bottom: 22px;
}
.contact__item h3 {
  margin: 0;
  margin-bottom: 8px;
  font: normal 500 18px/145% "Mplus", "Arial", sans-serif;
  color: #122947;
}
.contact__item p {
  margin: 0;
  font: normal normal 18px/145% "Mplus", "Arial", sans-serif;
  color: #122947;
}
.contacts__link {
  font: normal 18px/1.45 "Mplus", "Arial", sans-serif;
  white-space: nowrap;
  color: #122947;
  cursor: pointer;
  outline: 0;
  transition: 0.2s;
}
.contacts__link:active,
.contacts__link:focus,
.contacts__link:hover {
  opacity: 0.5;
  transition: 0.2s;
}
.contacts__social {
  margin: 0;
}
.contacts__map-wrapper {
  width: 100%;
}
.map {
  height: 422px;
  background: url("../img/map@1x.jpg") no-repeat 0 0 / cover #ffffff;
}
.map {
  height: 422px;
}
.social,
.social__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.social {
  display: flex;
  align-items: center;
}
.social_for-menu {
  display: none;
}
.social__item:not(:first-child) {
  margin-left: 30px;
}
.social__item_minor-spaced:not(:first-child) {
  margin-left: 25px;
}
.social__link {
  display: flex;
  outline: 0;
  transition: 0.2s;
}
.social__link:active,
.social__link:focus,
.social__link:hover {
  opacity: 0.5;
  transition: 0.2s;
}
.social__list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  flex-shrink: 0;
  max-width: 120px;
  margin-left: auto;
}
.social-item {
  margin-right: 30px;
}
.social-item:nth-child(3) {
  margin-right: 0;
}
.social-item a:focus,
.social-item a:hover {
  outline: none;
  opacity: 0.5;
  transition: 0.2s;
}
.social-item a:active {
  opacity: 1;
}
.catalog {
  padding-bottom: 60px;
}
.catalog-head__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.catalog-main {
  background: #f8f8f6;
}
.catalog-history {
  padding: 55px 15px 123px;
}
.catalog-history__wrapper {
  margin: 0 auto;
  max-width: 1170px;
}
.catalog__list,
.catalog-history__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.catalog__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-top: 26px;
}
.catalog-history__list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-top: 26px;
}
.catalog__item,
.catalog-history__item {
  position: relative;
  width: 270px;
  margin-right: 30px;
  margin-bottom: 30px;
}
.catalog__item:nth-child(4n),
.catalog-history__item:nth-child(4n) {
  margin-right: 0;
}
.product__wrapper {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px 20px 17px 20px;
  box-sizing: border-box;
}
.product__image {
  width: 100%;
  height: 100%;
}
.product__text {
  display: flex;
  justify-content: space-between;
}
.product__title {
  margin: 0;
}
.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
}
.pagination__numbers {
  width: 100%;
  padding-left: 85px;
}
.pagination__number {
  margin-right: 70px;
}
.pagination__arrows {
  display: flex;
  justify-content: space-between;
}
.pagination__arrow:first-child {
  margin-right: 32px;
}
.card {
  padding: 40px 15px 77px;
  background-color: #ffffff;
}
.card__wrapper {
  margin: 0 auto;
  max-width: 1170px;
  display: flex;
}
.card__image-wrapper {
  margin-right: 70px;
}
.card__content {
  padding-top: 41px;
  width: 370px;
}
.card__content-title {
  margin: 0;
  font: normal 500 32px/125% "Raleway", "Arial", sans-serif;
  color: #122947;
}
.card__content-title small {
  display: block;
  margin: 0;
  margin-bottom: 36px;
  font: normal normal 16px/145% "Mplus", "Arial", sans-serif;
  color: #9a9da0;
}
.card__description {
  width: 275px;
}
.card__description p {
  margin: 0;
  margin-bottom: 10px;
  font: normal normal 16px/145% "Mplus", "Arial", sans-serif;
  color: #122947;
}
.card__info {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  margin-top: 38px;
  margin-bottom: 40px;
}
.card__info::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 1px;
  background: #b3bac1;
}
.card__accordion {
  position: relative;
}
.card__accordion::after {
  background: #b3bac1;
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
}
.card__accordion-head {
  position: relative;
  padding-top: 13px;
  padding-bottom: 13px;
}
.card__accordion-head:hover {
  cursor: pointer;
}
.card__accordion-title {
  margin: 0;
  font: normal 500 18px/145% "Mplus", "Arial", sans-serif;
  color: #122947;
}
.accordion__content {
  box-sizing: border-box;
  overflow: hidden;
  transition-property: height;
  transition-duration: 0.15s;
}
.card__accordion-text {
  width: 100%;
  margin: 0;
  margin-bottom: 20px;
  font: normal normal 14px/145% "Mplus", "Arial", sans-serif;
  color: #122947;
}
.card__option {
  margin-bottom: 29px;
  display: flex;
}
.card__option-title {
  font: normal 500 18px/145% "Mplus", "Arial", sans-serif;
  margin: 0;
  color: #122947;
}
.card__option-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.card__option-item {
  margin-left: 40px;
}
.card__radio {
  position: relative;
  width: 100%;
  font: normal 500 18px/145% "Mplus", "Arial", sans-serif;
  color: #122947;
  cursor: pointer;
}
.card__radio:focus,
.card__radio:hover {
  color: rgba(18, 41, 71, 0.5);
}
.card__radio:active {
  color: #122947;
}
.card__radio::before {
  content: "";
  position: absolute;
  left: -25px;
  top: 5px;
  width: 14px;
  height: 14px;
  border: 1px solid #cdcdcd;
  border-radius: 50%;
}
.card__input-radio:checked + .card__radio {
  color: #122947;
}
.card__input-radio:checked + .card__radio::after {
  background: #122947;
  content: "";
  position: absolute;
  left: -23px;
  top: 7px;
  width: 10px;
  height: 10px;
  border: 1px solid #122947;
  border-radius: 50%;
}
.card__price {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.logo {
  display: flex;
  outline: 0;
  transition: 0.2s;
}
.logo:active,
.logo:focus,
.logo:hover {
  opacity: 0.5;
  transition: 0.2s;
}
.logo__image {
  height: 21px;
  width: 131px;
}
.footer {
  background: #f4f1ed;
}
.footer__content {
  position: relative;
  padding-top: 59px;
  padding-bottom: 59px;
  border-bottom: 1px solid #d1d1d1;
}
.footer__content-inner {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.footer__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 6%;
}
.footer__item {
  margin-right: 40px;
}
.footer__link {
  font: normal normal 16px/24px "Mplus", "Arial", sans-serif;
  text-decoration: none;
  color: #122947;
  outline: 0;
}
.footer__link:focus,
.footer__link:hover {
  outline: 0;
  opacity: 0.5;
  transition: 0.2s;
}
.footer__link:active {
  opacity: 1;
}
.footer__copyright {
  padding-top: 18px;
  padding-bottom: 18px;
}
.footer__copyright-link {
  font: normal normal 12px/18px "Mplus", "Arial", sans-serif;
  color: #959595;
}
.footer__copyright-link:focus,
.footer__copyright-link:hover {
  opacity: 0.5;
}
.footer__copyright-link:active {
  opacity: 1;
}
.footer__copyright-inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer__copyright p {
  margin: 0;
  font: normal normal 12px/18px "Mplus", "Arial", sans-serif;
  color: #959595;
}

/*# sourceMappingURL=style.css.map */
