::before,
::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: "Raleway", "Arial", sans-serif;;
  color: #122947;
}

body {
  font-size: 16px;
}

h2 {
  font-size: 28px;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

picture {
  display: flex;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
